@charset "utf-8";
.sp {
    h3 {
        color: $primaryColor;
        font-size: 1.562em;
        clear: both;
    }
}
// 會員登入區塊
.member_block {
    margin: 0 auto;
    background-image: url('../images/loginblock_bg.png');
    background-position: center top;
    width: 523px;
    height: 591px;
    padding-top: 45px;
    @include box-sizing;
    position: relative;
    @include screen('mobile') {
        background-image: none;
        background-color: rgba(255, 255, 255, .8);
        border-radius: 65px;
        width: 80%;
        height: auto;
        padding: 45px 0 75px;
    }
    @include screen('xs_mobile') {}
    .userlogin {
        width: 129px;
        margin: 0 auto;
    }
    .btn_grp {
        margin: 0px;
        padding: 0;
        .btn {
            padding: 1em 3em;
            background: none;
            background-color: $primaryColor;
            width: 100%;
            font-size: 1.25em;
            @include box-sizing;
        }
    }
    .btn-reset {
        background-color: $color-purple;
        color: #fff;
    }
    .form_grid {
        margin: 0 85px;
        @include screen('xs_mobile') {
            margin: 0 40px;
        }
        .form_grp {
            border: none !important;
            padding-bottom: 0px;
        }
        .form_title {
            width: 100% !important;
            color: #434343;
            font-weight: 400;
            padding: 0;
            margin: 0 0 5px;
            letter-spacing: .1em;
        }
        .form_content {
            width: 100% !important;
            padding: 0;
        }
        input {
            border: none;
        }
        ::-webkit-input-placeholder {
            /* Edge */
            color: #ccc;
        }
        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #ccc;
        }
        ::placeholder {
            color: #ccc;
        }
    }
    .verification {
        background-color: #fff;
        border-radius: .2em;
        padding: 10px;
        @include box-sizing;
    }
}
// 管理平台區塊
.management_platform_block {
    margin: 0 auto;
    width: 550px;
    padding: 60px 60px 70px;
    @include box-sizing;
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 35px;

    @include screen('xs_mobile'){
        width: 80%;
         padding:50px 50px 60px;
    }
    @media(max-width: 440px){
        padding: 40px 30px 60px;
        border-radius: 25px;
    }
    .btn_grp {
        margin: 40px 0px 0;
        padding: 0;
        text-align: right;
        @include screen('xs_mobile'){
                text-align: center;
            }
        .btn {
            padding: 1em 3em;
            background: none;
            background-color: #383f97;
            width: 75%;
            font-size: 1.25em;
            text-align: center;
            @include box-sizing;
             @include screen('xs_mobile'){
                display: block;
                width: 100%;
                padding: 1em;
            }
        }
    }
    .btn-reset {
        background-color: $color-purple;
        color: #fff;
    }
    .form_grid {
        margin: 0;
        .form_grp {
            border: none !important;
            padding-bottom: 0px;
            display: flex;
            align-items: center;
            @include screen('xs_mobile'){
                display: block;
            }
        }
        .form_title {
            flex: 0 0 25%;
            color: #434343;
            font-weight: 400;
            padding: 0;
            margin: 0 0 5px;
            letter-spacing: .1em;
            font-size: 1.125em;
            @include screen('xs_mobile'){
                width: 100%;
            }
        }
        .form_content {
            flex: 0 0 75%;
            padding: 0;
            @include screen('xs_mobile'){
                width: 100%;
            }
        }
        input {
            border: none;
        }
        ::-webkit-input-placeholder {
            /* Edge */
            color: #ccc;
        }
        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #ccc;
        }
        ::placeholder {
            color: #ccc;
        }
    }
    .verification {
        background-color: #fff;
        border-radius: .2em;
        padding: 10px;
        @include box-sizing;
    }
}
// 忘記密碼
.forget_password {
    display: inline-block;
    padding: 5px 25px 5px 0;
    position: relative;
    &:before {
        content: '';
        background-image: url('../images/icon_forget.png');
        background-repeat: no-repeat;
        background-position: 0;
        position: absolute;
        width: 16px;
        height: 16px;
        right: 0;
        top: 8px;
    }
}
// 驗證區塊
.verification {
    // background-color: #eee;
    padding: 20px;
    text-align: center;
    margin: 10px 0;
}
// 申請步驟
.step_block {
    margin-bottom: 40px;
    clear: both;
    ul {
        list-style: none;
        text-align: left;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            background-color: $thirdColor;
            color: #fff;
            padding: 20px 30px;
            margin-right: 80px;
            margin-bottom: 20px;
            font-size: 1.125em;
            position: relative;
            @include screen('tablet') {
                padding: 20px;
                margin-right: 50px;
            }
            @include screen('xs_mobile') {
                margin-right: 0px;
                margin-bottom: 50px;
                display: block;
                padding: 15px 20px;
            }
            &.active {
                background-color: $primaryColor;
                color: #fff;
            }
            &:last-child {
                margin-right: 0px;
            }
            &:before {
                content: '';
                position: absolute;
                width: 28px;
                height: 32px;
                right: -55px;
                top: 20px;
                background-image: url('../images/icon_step.png');
                background-repeat: no-repeat;
                background-position: left center;
                @include screen('tablet') {
                    right: -40px;
                }
                @include screen('xs_mobile') {
                    transform: rotate(90deg);
                    right: 45%;
                    top: auto;
                    bottom: -40px;
                }
            }
            &:last-child {
                &:before {
                    background-image: none;
                }
            }
        }
    }
}
// 申請步驟2
.step_block2 {
    margin-bottom: 40px;
    clear: both;
    ul {
        list-style: none;
        text-align: left;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            background-color: $thirdColor;
            color: #fff;
            padding: 20px 30px;
            margin-right: 20px;
            margin-bottom: 20px;
            font-size: 1.125em;
            position: relative;
            text-align: center;
            @include screen('tablet') {
                padding: 20px;
            }
            @include screen('xs_mobile') {
                margin-right: 0px;
                margin-bottom: 20px;
                display: block;
                padding: 15px 20px;
            }
            &.active {
                background-color: $primaryColor;
                color: #fff;
                position: relative;
                &:before {
                    content: '';
                    border: 10px solid $primaryColor;
                    border-color: $primaryColor transparent transparent transparent;
                    position: absolute;
                    bottom: -18px;
                    left: 43%;
                    @include screen('xs_mobile') {
                        left: 47%;
                    }
                }
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
// 會員條款
.member_termsy {
    .content {
        padding: 30px 50px;
        background-color: #fff;
        box-shadow: 0 0 5px #ccc;
        margin-bottom: 20px;
        @include screen('mobile') {
            padding: 30px;
        }
    }
    p {
        margin: 1em 0;
        line-height: 1.7em;
    }
    .check_grp {
        padding-top: 30px;
        border-top: 1px solid #ccc;
        margin-top: 20px;
        padding-left: 40px;
        input[type="checkbox"] {
            width: 1.5em;
            height: 1.5em;
            margin-left: -40px;
            margin-right: 15px;
        }
    }
    ol {
        li {
            margin-bottom: 5px;
        }
    }
    h4 {
        font-size: 1.5em;
        margin: 0;
        line-height: 1.4em;
        padding: 0;
    }
    h5 {
        font-size: 1em;
        padding: 10px 20px;
        background-color: #eee;
        font-weight: normal;
    }
}
// 基本資料
.basic_information {
    // border-top: lighten($color-blue, 5) 5px solid;
    .content {
        background-color: #f8f8f8;
        padding: 30px 50px;
        @include screen('mobile') {
            padding: 30px;
        }
        @include screen('xs_mobile') {
            padding: 10px 10px;
        }
    }
    .form_content {
        table {
            border-top: none;
            th {
                background-color: #fff
            }
        }
    }
}
// 註冊完成
.registeredok {
    background-color: #eee;
    padding: 30px 50px;
    @include screen('mobile') {
        padding: 30px;
    }
    .sendword {
        font-size: 1.5em;
        font-weight: 500;
        line-height: 1.3em;
        word-break: break-all;
    }
    .contact {
        padding: 20px;
        background-color: #fff;
        font-size: 1.125em;
        font-weight: 500;
        position: relative;
        @include screen('mobile') {
            padding: 10px 0;
        }
        &:after {
            content: '';
            width: 1px;
            height: 60px;
            transform: skew(45deg);
            position: absolute;
            background-color: #000;
            bottom: -10px;
            right: 40px;
            @include screen('mobile') {
                bottom: -40px;
                right: 10px;
            }
        }
        // &:before {
        //     content: '';
        //     width: 1px;
        //     height: 60px;
        //     transform: skew(45deg);
        //     position: absolute;
        //     background-color: #000;
        //     bottom: -10px;
        //     right: 40px;
        //     @include screen('mobile'){
        //         bottom: -40px;
        //         right: 10px;
        //     }
        // }
        ul {
            list-style: none;
            position: relative;
            margin-left: 50px;
            padding: 0 30px;
            @include screen('mobile') {
                margin-left: 0;
                padding: 0 20px;
            }
            &:before {
                content: '';
                width: 1px;
                height: 50px;
                position: absolute;
                background-color: #000;
                top: -20px;
                left: 0px;
                transform: skew(-45deg);
                @include screen('mobile') {
                    display: none;
                }
            }
            &:after {
                content: '';
                width: 1px;
                height: 50px;
                position: absolute;
                background-color: #000;
                top: -20px;
                left: 0px;
                transform: skew(-45deg);
                @include screen('mobile') {
                    display: none;
                }
            }
            li {
                margin-bottom: 10px;
                word-break: break-all;
            }
        }
    }
}
// 下一步 步驟按鈕
.stepbtn_next {
    @include gradient($primaryColor, $secondaryColor, horizontal);
    color: #fff;
    border-radius: 0;
    padding: 1em 5em;
    border: none;
    position: relative;
    @media(max-width: 500px) {
        width: 210px;
    }
    &:hover {
        border: none !important;
        @include gradient(darken($primaryColor, 5), darken($secondaryColor, 5), horizontal);
        color: #fff;
    }
    &:before {
        content: '';
        border: 3px solid #fff;
        border-color: #fff #fff transparent transparent;
        width: 6px;
        height: 6px;
        position: absolute;
        right: 20px;
        top: 22px;
        transform: rotate(45deg);
    }
}
// 上一步 步驟按鈕
.stepbtn_prev {
    @include gradient($primaryColor, $secondaryColor, horizontal);
    color: #fff;
    border-radius: 0;
    padding: 1em 5em;
    border: none;
    position: relative;
    @media(max-width: 500px) {
        width: 210px;
    }
    &:hover {
        border: none !important;
        @include gradient(darken($primaryColor, 5), darken($secondaryColor, 5), horizontal);
        color: #fff;
    }
    &:before {
        content: '';
        border: 3px solid #fff;
        border-color: #fff #fff transparent transparent;
        width: 6px;
        height: 6px;
        position: absolute;
        left: 20px;
        top: 22px;
        transform: rotate(-135deg);
    }
}
// submit reset
.stepbtn_submit, .stepbtn_reset {
    @include gradient($primaryColor, $secondaryColor, horizontal);
    color: #fff;
    border-radius: 0;
    padding: 1em 5em;
    border: none;
    position: relative;
    @media(max-width: 500px) {
        width: 210px;
    }
    &:hover {
        border: none !important;
        @include gradient(darken($primaryColor, 5), darken($secondaryColor, 5), horizontal);
        color: #fff;
    }
}
// 關鍵字
.keyword_block {
    border: 1px solid #CCC;
    padding: .4em .3em .2em .3em;
    background: #fff;
    border-radius: .2em;
    .keyword {
        background-color: #d6f1f0;
        color: #333;
        position: relative;
        padding: 3px 35px 0px 8px;
        display: inline-block;
        border-radius: .2em;
        margin-bottom: 3px;
        span {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0px;
            top: 3px;
            a {
                display: block;
            }
        }
    }
}
//說明區塊
.explanation_block {
    padding: 30px 50px;
    @include screen('mobile') {
        padding: 30px;
    }
    @media(max-width: 480px) {
        padding: 30px 10px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin-bottom: 10px;
            padding-left: 20px;
            position: relative;
            &:before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $primaryColor;
                position: absolute;
                left: 0;
                top: 7px;
            }
        }
    }
}
//重要說明
.important_explain {
    background-color: darken($importantColor, 25);
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
// 建議按鈕
.suggest_btn {
    margin-bottom: 10px;
    text-align: right;
    button {
        background: none !important;
        background-color: #266cbb !important;
        color: #fff;
        border: 1px solid #266cbb;
        text-shadow: none;
        padding: .8em 1em !important;
        border-radius: 0;
        &:hover {
            padding: .8em 1em !important;
            border: 1px solid darken(#266cbb, 10) !important;
            background-color: darken(#266cbb, 10) !important;
            color: #fff;
        }
    }
}
//仿頁籤
.like_tab {
    border-bottom: 3px solid $linkColor;
    overflow: hidden;
    margin-bottom: 10px;
    ul {
        margin: 0;
        padding: 0;
        li {
            float: left;
            list-style: none;
            margin-right: 8px;
            font-size: 1.25em;
            a {
                display: block;
                padding: 1em 2em;
                background-color: #999;
                color: #fff;
            }
            &.here {
                a {
                    background-color: $linkColor;
                    color: #fff;
                    position: relative;
                    &:before {
                        content: '';
                        border: 7px solid #fff;
                        border-color: transparent transparent transparent #fff;
                        position: absolute;
                        left: 20px;
                        top: 23px;
                    }
                }
            }
        }
    }
}
// 稿件編號主題
.num_subject {
    padding: 10px 0px;
    margin-bottom: 20px;
    // border:1px solid #ccc;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin-bottom: 10px;
            font-size: 1.125em;
            position: relative;
            padding: 8px 20px 8px 35px;
            background-color: #eee;
            &:before {
                content: '';
                position: absolute;
                left: 15px;
                top: 15px;
                width: 7px;
                height: 7px;
                background-color: #999;
                transform: rotate(45deg);
            }
            &:last-child {
                margin: 0;
            }
        }
    }
}
// 儀表板
.dashboard_block {
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    ul {
        margin: 0;
        padding: 0;
        li {
            float: left;
            margin: 0 .5%;
            width: 19%;
            list-style: none;
            @include screen('mobile') {
                width: 32%;
                margin: 0 .66% 8px;
            }
            @include screen('xs_mobile') {
                width: 48%;
                margin: 0 1% 8px;
            }
            @media(max-width: 480px) {
                width: 100%;
                margin: 0 0 8px;
            }
            a {
                display: block;
                background-color: #eee;
                color: #fff;
                text-align: center;
                height: 190px;
                padding: 50px 10px 20px;
                border: 1px solid #dfdfdf;
                font-size: 1.125em;
                @include gradient($primaryColor, $thirdColor, diagonal);
                @include box-sizing;
                &:hover {
                    @include gradient(lighten($primaryColor, 5), lighten($thirdColor, 5), diagonal);
                }
                span {
                    display: block;
                    margin-bottom: 20px;
                    font-size: .938em;
                    em {
                        font-size: 3.4em;
                        font-style: normal;
                        position: relative;
                        padding-right: 25px;
                        font-weight: 500;
                        &:after {
                            content: '';
                            width: 1px;
                            height: 40px;
                            background-color: #fff;
                            position: absolute;
                            right: 10px;
                            bottom: 15px;
                            transform: rotate(45deg);
                        }
                    }
                }
                &.tobe_processed {
                    @include gradient(#f48865, #ffd151, diagonal);
                    &:hover {
                        @include gradient(lighten(#f48865, 5), lighten(#ffd151, 5), diagonal);
                    }
                }
            }
        }
    }
}
// 預審建議標題
.pre_trial_title {
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 12px 30px;
    margin: 0 0 30px;
    border-radius: 5px;
    font-size: 1.5em;
    .close {
        position: absolute;
        right: 10px;
        top: 8px;
        a {
            display: block;
        }
    }
}
// 筆數
.numpens {
    margin-top: 15px;
    margin-bottom: 10px;
    float: left;
    font-size: 1.375em;
    span {
        em {
            font-style: normal;
            color: #3278c8;
            margin: 0 5px;
            font-weight: 500;
        }
    }
}
// 筆數
.numpens2 {
    font-size: 1.25em;
    padding-top: 10px;
    em {
        font-style: normal;
        color: $color-orange;
        margin: 0 5px;
        font-weight: 500;
    }
}
//選擇委員
.selectcommittee {
    float: left;
}
// 清單按鈕starts
.listbtn {
    float: right;
    margin-bottom: 5px;
    .btn {
        border-radius: 0 !important;
        padding: 0.8em 1.5em !important;
    }
    .btn-blue {
        &:hover, &:focus {
            background-color: #266cbb !important;
            border: 1px solid #266cbb !important;
        }
    }
}
//功能select
.function_block {
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0 0 15px;
    // background-color:#f8f8f8;
    border-bottom: 1px solid #ccc;
    .function_grp {
        margin-bottom: 20px;
        overflow: hidden;
    }
    .function_title {
        float: left;
        width: 180px;
        padding-top: 10px;
        font-size: 1.25em;
        color: #333;
        font-weight: 500;
        @include screen('xs_mobile') {
            width: 100%;
            float: none;
        }
    }
    .function_content {
        float: left;
        width: calc(100% - 180px);
        position: relative;
        @include screen('xs_mobile') {
            width: 100%;
            float: none;
        }
        &.hasbtn {
            >input[type="text"] {
                width: calc(100% - 6em) !important;
                @media(max-width: 480px) {
                    width: 100% !important;
                }
            }
            button {
                padding: .5em 1em !important;
                right: 0em;
                top: 0px;
                font-size: 1em;
                margin: 0;
                width: 5.5em;
                position: absolute;
                background: none;
                background-color: $color-orange !important;
                border: none;
                color: #fff;
                text-shadow: none;
                @include text-overflow;
                @media(max-width: 480px) {
                    position: relative;
                    width: 100%;
                    top: 0;
                    right: 0;
                    left: 0;
                    margin-bottom: 5px;
                }
                &:hover, &:focus {
                    border: none !important;
                    background-color: darken($color-orange, 10) !important;
                }
            }
        }
    }
}
//article_selection 出刊文章選擇 
.article_selection {
    overflow: hidden;
    margin: 50px 0;
    .leftblock {
        @include make-xs-column(12);
        @include make-sm-column(5);
        @include make-md-column(5);
        @include make-lg-column(5);
    }
    .middleblock {
        @include make-xs-column(12);
        @include make-sm-column(2);
        @include make-md-column(2);
        @include make-lg-column(2);
    }
    .rightblock {
        @include make-xs-column(12);
        @include make-sm-column(5);
        @include make-md-column(5);
        @include make-lg-column(5);
    }
    .table_list {
        td, th {
            border: #ccc 1px solid !important;
            padding: .5em .3em;
        }
        .btn {
            padding: .5em 0em;
            font-size: .813em;
        }
        .time {
            display: inline-block;
        }
        input[type="text"] {
            width: 50px;
        }
    }
    .adddelbtn {
        width: 100px;
        margin: 10em auto;
        text-align: center;
        @include screen('mobile') {
            margin: 1em auto;
        }
        ul {
            margin: auto;
            padding: 0;
            @include box-sizing;
            li {
                list-style: none;
                margin-bottom: 5em;
                @include screen('mobile') {
                    margin-bottom: 2em;
                }
                a {
                    background-color: $primaryColor;
                    color: #fff;
                    padding: 1em 2em 1em 1em;
                    display: block;
                    position: relative;
                    &.addbtn {
                        &:after {
                            content: '';
                            position: absolute;
                            border: 2px solid #fff;
                            width: 8px;
                            height: 8px;
                            border-color: #fff #fff transparent transparent;
                            right: 20px;
                            top: 21px;
                            transform: rotate(45deg);
                            @include screen('mobile') {
                                transform: rotate(135deg);
                            }
                        }
                    }
                    &.delbtn {
                        &:after {
                            content: '';
                            position: absolute;
                            border: 2px solid #fff;
                            width: 8px;
                            height: 8px;
                            border-color: #fff transparent transparent #fff;
                            right: 15px;
                            top: 21px;
                            transform: rotate(-45deg);
                            @include screen('mobile') {
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
        }
    }
}