* {
    box-sizing: border-box;
}
body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}
// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    background-image: url('../images/related_links_bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    @include screen('mobile') {
        overflow: hidden;
        overflow-y: auto;
    }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
    // outline: 1px solid red;
}
.main {
    position: relative;
    margin: 0 auto;
    padding: 0;
    min-height: 700px;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    @include screen('mobile') {
        padding-top: 55px;
    }
    h2 {
        line-height: 1.25em;
        &.title {
            margin: 0 0 40px;
            font-size: 1.625em;
            font-weight: 400;
            position: relative;
            &:before {
                content: '';
                width: 45px;
                height: 4px;
                background-color: lighten($primaryColor, 15);
                position: absolute;
                bottom: -15px;
                left: 0;
            }
        }
    }
}
////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    padding-top: 2em;
    padding-bottom: 4em;
    @include screen('mobile') {
        padding-top: 0em;
    }
    >.container {
        @include gutter(60px); //gutter 代表左右要留白
    }
}
.inheader_block {
    background-image: url('../images/headerbg_mp.jpg');
    background-position: center -145px;
    background-repeat: no-repeat;
    padding-top: 60px;
    height: 185px;
    margin-bottom: 20px;
    @include box-sizing;
    @include screen('mobile') {
        padding-top: 90px;
    }
    
    >.container {
        @include gutter(); //gutter 代表左右要留白
    }
    .inheader {
        position: relative;
        h1 {
            margin: 0;
            padding: 0;
            font-weight: 300;
            margin-bottom: 15px;
            font-size: 1.188em;
            a {
                display: inline-block;
                color: $color-word;
                span {
                    display: block;
                    font-size: 1.875em;
                    margin-top: 15px;
                    line-height: 1.3em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
        // 
        .login_btn {
            position: absolute;
            top: 0;
            right: 0px;
            @include screen('mobile') {
                position: relative;
                top: auto;
                right: auto;
                // width: 200px;
                margin: 0 auto;
                text-align: center;
            }
            span.name {
                font-size: 1.25em;
                margin-right: 5px;
                text-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff;
                @media(max-width: 480px){
                    display: block;
                    margin-bottom:5px;
                }
            }
            select {
                display: inline-block;
                width: 150px;
                height: 3.1em;
                margin-right: 5px;
                @media(max-width: 480px) {
                    height: 2.5em;
                   margin-top:1px;
                }
            }
            a {
                display: inline-block;
                padding: 13px 30px;
                text-align: center;
                background-color: #312a21;
                color: #fff;
                border-radius: 5px;
                @media(max-width: 480px) {
                    padding: 8px 30px;
                }
                &:hover {
                    background-color: lighten(#312a21, 20);
                }
            }
        }
    }
}
// 
.hidden {
    display: none !important;
}
.xs_hidden {
    @include screen('xs_mobile') {
        display: none !important;
    }
}